
<div class="th-4">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Tìm kiếm</label>
        <input name = "timkiem" type="text" class="form-control" id="search-input"  placeholder="Nhập từ tìm kiếm...">
    </div>
    
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>